body{
    margin: 0px;
    background-color: #E5E3DC;
}

.logo{
    width: 100%;
position: relative;
max-width: 100%;
overflow: hidden;
height: 169.8px;
object-fit: cover;
width: 230.62px;
margin-left: 170px;
}

.website-name {
    width: 253.2px;
    position: relative;
    font-size: 24.19px;
        font-family: "Bruno Ace", serif;
        font-weight: 400;
        font-style: normal;      
    color: #495a58;
    text-align: left;
    display: inline-block;
    height: 49.6px;
    margin-left: 385.82px;
    vertical-align: top;
    margin-top: -100.8px;
}
.header{
    width: 1170px;
    height: 169.775px;
    flex-shrink: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
  li {
    float: left;
}
  
  li a {
    display: block;
    color: var(--Dark-green, #495a58);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Kulim Park";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

nav{
    display: flex;
width: 400.188px;
height: 17.168px;
justify-content: center;
align-items: flex-start;
gap: 31px;
flex-shrink: 0;
margin-left: 1217px;
margin-top: -119.6px;
}

.banner img{
    width: 1400px;
height: 713px;
flex-shrink: 0;
margin: 0 auto;
display: block;
}

.banner h1{
    display: flex;
width: 917.932px;
height: 162.507px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
color: #FFF;
text-align: center;
/* h1-Desktop */
font-family: "Bruno Ace";
font-size: 65.14px;
font-style: normal;
font-weight: 400;
line-height: normal;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.About a{
    text-decoration: none;
}

.Services h1{
    width: 600px;
height: 58px;
flex-shrink: 0;
color: var(--Dark-green, #495A58);
/* h1-Desktop */
font-family: "Bruno Ace";
font-size: 65.14px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-left: 230px;
margin-top: 110px;
}

.Services .items-box1 .item1 a{
    text-decoration: none;
}

.Services .items-box1 .item2 a{
    text-decoration: none;
}

.Services .items-box1 .item3 a{
    text-decoration: none;
}

.items-box1{
    display: flex;
    flex-wrap: wrap;
    gap: 136px;
    margin-top: 105px;
    margin-left: 230px;
}

.items-box1 img{
    width: 386px;
height: 429px;
flex-shrink: 0;
}

.items-box1 h4{
    width: 386px;
height: 49px;
flex-shrink: 0;
color: var(--Pink, #D4967D);
/* h4-Desktop */
font-family: "Bruno Ace SC";
font-size: 23px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 55px;
margin-bottom: 0px;
}

.items-box1 p{
    width: 344.191px;
height: 253px;
flex-shrink: 0;
color: var(--Black, #000);
/* Paragraph-Desktop */
font-family: "Kulim Park";
font-size: 20px;
font-style: normal;
font-weight: 300;
line-height: normal;
margin-top: 0px;
}

.items-box2{
    display: flex;
    flex-wrap: wrap;
    gap: 53px;
    margin-left: 230px;
    margin-top: 120px;
}

.items-box2 img{
    width: 585px;
height: 641px;
flex-shrink: 0;
}

.items-box2 h1{
    width: 633px;
height: 166px;
flex-shrink: 0;
color: var(--Dark-green, #495A58);
/* h1-Desktop */
font-family: "Bruno Ace";
font-size: 65.14px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 51px;
margin-top: 0px;
}

.items-box2 p{
    width: 574px;
height: 353px;
flex-shrink: 0;
color: var(--Black, #000);
/* Paragraph-Desktop */
font-family: "Kulim Park";
font-size: 20px;
font-style: normal;
font-weight: 300;
line-height: normal;
margin-bottom: 0px;
}

.items-box2 button{
    width: 197.23px;
height: 54.219px;
flex-shrink: 0;
border-radius: 25px;
margin-top: 29px;
display: flex;
width: 177px;
height: 48px;
justify-content: center;
flex-shrink: 0;
color: #FFF;
border: 0px;
/* Button-Desktop */
font-family: "Kulim Park";
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
background: var(--Pink, #D4967D);
align-items: center;
}

.items-box2 .item2{
    margin-left: 246px;
}

.items-box3{
    display: flex;
    flex-wrap: wrap;
    gap: 53px;
    margin-left: 230px;
}

.items-box3 .item{
    margin-top: 386px;
}

.items-box3 .item h1{
    width: 433px;
height: 166px;
flex-shrink: 0;
color: var(--Dark-green, #495A58);
/* h1-Desktop */
font-family: "Bruno Ace";
font-size: 65.14px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 44px;
}

.items-box3 .item p{
    color: var(--Black, #000);
/* Paragraph-Desktop */
font-family: "Kulim Park";
font-size: 20px;
font-style: normal;
font-weight: 300;
line-height: normal;
margin-top: 0px;
}

.items-box3 .form{
    margin-top: 286px;
    margin-left: 381px;
}

.items-box3 .form label{
    width: 283.262px;
height: 31px;
flex-shrink: 0;
color: var(--Black, #000);
/* label */
font-family: "Bruno Ace SC";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
display: block;
margin-bottom: 8px;
}

.items-box3 .form input{
    display: flex;
width: 566.524px;
height: 21px;
padding: 12px;
align-items: flex-start;
gap: 8px;
flex-shrink: 0;
border-radius: 8px;
border: 1px solid var(--text_placeholder_color, rgba(128, 128, 128, 0.55));
color: var(--Dark-grey, var(--text_placeholder_color, rgba(128, 128, 128, 0.55)));
font-family: "Kulim Park";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 125% */
margin-bottom: 59px;
}

.items-box3 .form .input4 input{
    display: flex;
width: 237px;
height: 21px;
flex-direction: column;
align-items: flex-start;
gap: 8px;
flex-shrink: 0;
}

.items-box3 .form .input5 input{
    display: flex;
width: 275px;
height: 21px;
flex-direction: column;
align-items: flex-start;
gap: 8px;
flex-shrink: 0;
}

.items-box3 .form .input4{
    display: inline-block;
}

.items-box3 .form .input5{
    display: inline-block;
}

.items-box3 .form .input6 input{
    display: flex;
width: 267.622px;
height: 126px;
padding: 12px;
justify-content: space-between;
align-items: flex-start;
flex-shrink: 0;
margin-top: 23px;
}

.items-box3 .form .checkbox{
    display: inline-block;
    margin-left: 20px;
}

.items-box3 .form .input6{
    display: inline-block;
}

.items-box3 .form .checkbox{
    display: flex;
width: 260.671px;
height: 28px;
padding: 0px 0.869px 0px 3.476px;
justify-content: center;
align-items: center;
gap: 12.165px;
flex-shrink: 0;
display: inline-block;
vertical-align: top;
}

.items-box3 .form .checkbox input{
    width: 13.034px;
height: 15px;
flex-shrink: 0;
border-radius: 5px;
border: 1px solid var(--Black, #000);
display: inline-block;
vertical-align: top;
}

.items-box3 .form .checkbox label{
    width: 231.128px;
height: 28px;
flex-shrink: 0;
color: var(--Black, #000);
text-align: justify;
/* label */
font-family: "Bruno Ace SC";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
display: inline-block;
}

button{
    width: 171.374px;
height: 54.219px;
flex-shrink: 0;
border-radius: 25px;
margin-top: 29px;
display: flex;
width: 177px;
height: 48px;
justify-content: center;
flex-shrink: 0;
color: #FFF;
border: 0px;
/* Button-Desktop */
font-family: "Kulim Park";
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
background: var(--Pink, #D4967D);
align-items: center;
margin-left: 202px;
transition: background-color 0.3s; /* to create a transition in a background-color style */
transition: color 0.3s; /* to create a transition in a background-color style */
}

button:hover{
    background-color: white
}

button:hover{
    color: #d4967d;
}

.Meeting a{
    text-decoration: none;
}

.Footer .container{
    width: 100%;
    height: 328px;
    background-color: #CDCDCD;
    margin-top: 266px;
}

.Footer .item{
    display: inline-block;
}

.Footer .col1{
    display: inline-block;
    vertical-align: top;
    margin-top: 70px;
    margin-left: 381px;
}

.Footer .col1 h4{
    margin-top: 0px;
    width: 279px;
height: 59px;
flex-shrink: 0;
color: var(--Dark-green, #495A58);
/* h4-Desktop */
font-family: "Bruno Ace SC";
font-size: 23px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 0px;
}

.Footer .col1 p{
    width: 175px;
height: 78px;
flex-shrink: 0;
color: var(--Black, #000);
/* Paragraph-Desktop */
font-family: "Kulim Park";
font-size: 20px;
font-style: normal;
font-weight: 300;
line-height: normal;
margin-top: 28px;
}

.Footer .col2{
    display: inline-block;
    vertical-align: top;
    margin-top: 70px;
}

.Footer .col2 h4{
    margin-top: 0px;
    width: 279px;
height: 59px;
flex-shrink: 0;
color: var(--Dark-green, #495A58);
/* h4-Desktop */
font-family: "Bruno Ace SC";
font-size: 23px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 0px;
}

.Footer .col2 p{
    width: 279px;
height: 78px;
flex-shrink: 0;
color: var(--Black, #000);
/* Paragraph-Desktop */
font-family: "Kulim Park";
font-size: 20px;
font-style: normal;
font-weight: 300;
line-height: normal;
margin-top: 28px;
}
